body {
    margin: 0px;
    background: url('../images/background_snow_montain.jpg') no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.header {
    background: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    color: $grey;
    a {
        color: $grey;
        &:hover {
            color: $calm;
        }
    }
    .top-bar {
        border-bottom: 1px solid $grey-light;
        padding: 5px;
        padding-right: 20px;
        .header-menu {
            border-right: 1px solid $grey-light;
            padding: $basic-padding;
        }
        .top-bar-links {
            margin: 0 $basic-padding;
            font-size: 13px;
            &.selected {
                color: $grey-darker;
            }
        }
    }
    .title-header {
        display: flex;
        justify-content: center;
        
        h1 {
            color: $grey-darker;
            font-weight: normal;
            font-size: 24px;
            display: inline-block;
            padding: 0 5px;
            
        }
    }
}

.avatar {
    @include border-radius(100px);
    border: 1px solid $grey-light;
}

.avatar-small {
    height: 24px;
}

.avatar-medium {
    height: 30px;
}

.search-input {
    height: 38px;
    padding: 6px 10px;
    background-color: #fff;
    border: 1px solid $grey-light;
    @include border-radius(100px);
    box-shadow: none;
    box-sizing: border-box;
    width: 100%;
}

.card {
    background: white;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.main {
    .main-header {
        border-bottom: 1px solid $grey-light;
        box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
    }
}