.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.space-between {
    justify-content: space-between;
}

.absolute-right {
    position: absolute;
    right: 0;
}

.top-zero {
    top: 0;
}

.center-block {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.full-height {
    height: 100%;
    max-height: 100%;
}

.full-block {
    display: block;
    width: 100%;
}

.center-block {
    display: block;
    margin: 0 auto;
}

@media (max-width: 550px) {
    .hidden-xs {
        display: none !important;
    }
}