.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.text-center {
    text-align: center;
}

.flex-center {
    display: flex;
    align-items: center;
}