$basic-padding:      15px;
$font-size-base:     13px;
$calm:   #14aaf5;

$grey-darker:  #151b26;
$grey-dark:    lighten($grey-darker, 20%);
$grey:         #848f99;
$grey-light:   #e0e6e8;
$grey-almost-light: darken($grey-light, 10%);
$grey-lighter: #f6f8f9;



//## Gray and brand colors for use across Bootstrap.

/*
@brand-primary:         darken(#428bca, 6.5%); // #337ab7
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;*/