$basic-padding:      15px;
$font-size-base:     13px;
$calm:   #14aaf5;

$grey-darker:  #151b26;
$grey-dark:    lighten($grey-darker, 20%);
$grey:         #848f99;
$grey-light:   #e0e6e8;
$grey-lighter: #f6f8f9;


//comentar essa linha depois
$border: #e0e6e8;

//## Gray and brand colors for use across Bootstrap.
/*
@gray-base:              #000;
@gray-darker:            lighten(@gray-base, 13.5%); // #222
@gray-dark:              lighten(@gray-base, 20%);   // #333
@gray:                   lighten(@gray-base, 33.5%); // #555
@gray-light:             lighten(@gray-base, 46.7%); // #777
@gray-lighter:           lighten(@gray-base, 93.5%); // #eee

@brand-primary:         darken(#428bca, 6.5%); // #337ab7
@brand-success:         #5cb85c;
@brand-info:            #5bc0de;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;*/